<header id="site-header" class="bg-light">
  <nav class="navbar navbar-light container">
    <span>
      <span class="page-title h2">{{pageName}}</span>
      <a *ngIf="showBackLink" [routerLink]="['/home']">Go back to Home page</a>
    </span>

    <span class="my-2 my-lg-0">
      <span *ngIf="isLoggedIn">
        Welcome {{ userFullName }}
        <span *ngIf="showPostButtons">
          <button class="btn btn-sm btn-primary" (click)="newPost()">
            New Post
          </button>
          <button class="btn btn-sm btn-secondary" (click)="logout()">
            Log Out
          </button>
        </span>
      </span>
      <span *ngIf="!isLoggedIn">
        You are not logged in
        <button class="btn btn-sm btn-primary" (click)="login()">
          Log In
        </button>
      </span>
    </span>
  </nav>
</header>
